#form_contact {
	margin: 20px 0 20px 0;
}
.contact_error {
	margin: 20px 20px 20px 20px;
	padding: 5px 15px 5px 15px;
	border: 1px solid;
	font-size: 13px;
	font-weight:bold;
	color:#000 !important;
	background-color: #ffcfcf;
	border-color: #df8f8f;
	text-align:center;
}

.contact_success {
}
